<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.einstein.albert.intelligence.dao.AwardDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.einstein.albert.intelligence.entity.po.Award">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="inventory" property="inventory" />
        <result column="amount" property="amount" />
        <result column="kind" property="kind" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
        <result column="update_time" property="updateTime" />
        <result column="updater" property="updater" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, inventory, amount, kind, create_time, creator, update_time, updater
    </sql>

</mapper>
