<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.einstein.albert.intelligence.dao.LotteryRecordDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.einstein.albert.intelligence.entity.po.LotteryRecord">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="activity_id" property="activityId"/>
        <result column="award_item_id" property="awardItemId"/>
        <result column="winning_status" property="winningStatus"/>
        <result column="status" property="status"/>
        <result column="raffle_draw_time" property="raffleDrawTime"/>
        <result column="create_time" property="createTime"/>
        <result column="creator" property="creator"/>
        <result column="update_time" property="updateTime"/>
        <result column="updater" property="updater"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, activity_id, award_item_id, winning_status, status, raffle_draw_time, create_time, creator, update_time, updater
    </sql>
    <select id="countUserLotteryRecord" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM biz_lottery_record WHERE user_id=#{userId} AND activity_id = #{activityId}
        <if test="start!=null and start!=''">
            AND raffle_draw_time >=#{start}
        </if>
        <if test="end!=null and end!=''">
            AND raffle_draw_time <![CDATA[<=#{end}]]>
        </if>
        <if test="status!=null">
            AND status =#{status}
        </if>
    </select>

</mapper>
