<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.einstein.albert.intelligence.dao.ScheduleTaskLogDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.einstein.albert.intelligence.entity.po.ScheduleTaskLog">
        <id column="id" property="id"/>
        <result column="task_name" property="taskName"/>
        <result column="task_class" property="taskClass"/>
        <result column="task_method" property="taskMethod"/>
        <result column="task_param_types" property="taskParamTypes"/>
        <result column="task_params" property="taskParams"/>
        <result column="task_status" property="taskStatus"/>
        <result column="error_msg" property="errorMsg"/>
        <result column="ts" property="ts"/>
        <result column="execute_date" property="executeDate"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, task_name, task_class, task_method, task_param_types, task_params, task_status,error_msg, ts, execute_date, create_time, update_time
    </sql>
    <select id="selectFirstByTaskName" resultType="com.einstein.albert.intelligence.entity.po.ScheduleTaskLog">
        SELECT
        <include refid="Base_Column_List"/>
        FROM schedule_task_log
        WHERE task_name = #{taskName} AND execute_date = #{executeDate} ORDER BY create_time DESC LIMIT 1
    </select>

</mapper>
