<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjiez.database.dao.BatchTaskDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chunjiez.database.entity.po.BatchTask">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="total" property="total" />
        <result column="process" property="process" />
        <result column="success" property="success" />
        <result column="resource_href" property="resourceHref" />
        <result column="status" property="status" />
        <result column="client_id" property="clientId" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, type, total, process, success, resource_href, status, client_id, create_time, create_by, update_time, update_by
    </sql>

</mapper>
