<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.einstein.database.dao.TaskScriptDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.einstein.database.entity.po.TaskScript">
        <id column="id" property="id"/>
        <result column="task_id" property="taskId"/>
        <result column="task_step_id" property="taskStepId"/>
        <result column="script_position" property="scriptPosition"/>
        <result column="script_operation" property="scriptOperation"/>
        <result column="scope" property="scope"/>
        <result column="target_type" property="targetType"/>
        <result column="target_key" property="targetKey"/>
        <result column="target_value" property="targetValue"/>
        <result column="client_id" property="clientId"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, task_id, task_step_id, script_position, script_operation, scope, target_type, target_key, target_value, client_id, create_time,
        create_by, update_time, update_by
    </sql>

</mapper>
