<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.einstein.database.dao.TaskStepDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.einstein.database.entity.po.TaskStep">
        <id column="id" property="id" />
        <result column="task_step_name" property="taskStepName" />
        <result column="request_url" property="requestUrl" />
        <result column="request_method" property="requestMethod" />
        <result column="request_headers" property="requestHeaders" />
        <result column="request_body" property="requestBody" />
        <result column="response_headers" property="responseHeaders" />
        <result column="response_body" property="responseBody" />
        <result column="task_step_sort" property="taskStepSort" />
        <result column="task_id" property="taskId" />
        <result column="client_id" property="clientId" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, task_step_name, request_url, request_method, request_headers, request_body, response_headers, response_body, task_step_sort, task_id, client_id, create_time, create_by, update_time, update_by
    </sql>

</mapper>
