<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjiez.database.dao.UserLoginLogDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chunjiez.database.entity.po.UserLoginLog">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="login_ip" property="loginIp" />
        <result column="login_datetime" property="loginDatetime" />
        <result column="login_status" property="loginStatus" />
        <result column="login_error_message" property="loginErrorMessage" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, login_ip, login_datetime, login_status, login_error_message, create_time, update_time
    </sql>

</mapper>
